body{
    background-image: linear-gradient(red, blueviolet, blue);

    border: 1px solid black;
    padding: 5px ;
    margin-top: 40px;
    margin bottom: 20px;
    

}

li {justify-items: center;
    background-color: rgb(49, 179, 179);
    font-family: 'Golos Text', sans-serif;

}
h1{
    color: rgb(170, 166, 173);
    border: 5px ridge red;
    background-color: white;
    font-family: 'Gajraj One', cursive;
}
h2{ background-image: linear-gradient(red, orange, yellow);;
    font-family: 'Tilt Prism', cursive;

}
.parrafo{
    border: 1px solid black;
}
.habil{
    background-color: rgb(46, 190, 190);
    border: 3px solid red;
}
section {
    color: blueviolet;
    border: 5px ridge red;
    background-color: white;
    opacity: 0.7;
    font-family: 'Gajraj One', cursive;
}
.unica{
    width: 320px;
    height: 210px;
}
.contra{
    color: aliceblue;
}
footer{
    font-style: italic;
    color: azure;
}
